@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos del editor Quill */
.ql-container {
  font-family: inherit;
  font-size: 1rem;
}

.ql-editor {
  min-height: 200px;
}

.ql-editor.ql-blank::before {
  font-style: normal;
  color: #9ca3af;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
